.container{
	background: #fcfcfc;
	width: 100%;
	overflow: hidden;
	height: 100vh;

}

.container-page{
	display: flex;
	flex: 1;
}
.left-side{
	width: 50%;
}
.right-side{
	width: 50%;
}

