.container {
	padding: 1.25em 1.75em ;
	margin: 2em 1.25em;
	border-radius: 5px;
	box-shadow: 0 18px 24px 12px rgba(0,0,0,.06);
	display: flex;
	flex-flow: column wrap;
	align-items: flex-start;

	h2{
		margin-bottom: .5em;
	}
	.forms {

		display: flex;
		flex-flow: column nowrap;
		justify-content: flex-start;
		.field{
			margin: 1em 0;

			.labels{
				margin-bottom: .5em;
			}
		}
		.labels label,
		.inputs input {
			display: block;

			font-size: 24px;
		}

		.inputs {
			input {
				width: 100%;
				text-align: center;
				border-radius: 4px;
				border: 1px solid #cfcfcf;
				padding: .25em;
			}
		}
	}

	.center {
		width: 100%;
		button {
			width: 100%;
			background: #8091FF;
			color: #fff;
			padding: 10px;
			font-size: 24px;
			border: none;
			border-radius: 5px;
			cursor: pointer;
			opacity: .77;
			&:hover{
				transition: all .2s ease-in-out;
				opacity: 1;
			}
		}
	}
}
