<div class="container">
	<div (click)="deleteNetwork()" class="close">
		X
	</div>

	<div class="center">
		<h2>Red de "{{ network.NetworkInfo.Name }}"</h2>
	</div>

	<div class="forms">
		<div class="labels">
			<label>Cantidad de hosts disponibles:</label>
			<label>Dirección de red:</label>
			<label>Dirección de broadcast:</label>
			<label>Primer IP útil:</label>
			<label>Último IP útil:</label>
		</div>

		<div class="variables">
			<label>{{ usableHosts }}</label>
			<label>{{ network.Ipv4 | onlyAddress }}</label>
			<label>{{ network.Ipv4.GetBroadcastAddress() | onlyAddress }}</label>
			<label>{{ network.Ipv4.GetFirstUsable() | onlyAddress }}</label>
			<label>{{ network.Ipv4.GetLastUsable() | onlyAddress }}</label>
		</div>
	</div>
</div>
