.container {
	padding: 16px;

	display: flex;
	flex-flow: column nowrap;

	app-vlsm-network {
		margin-bottom: 32px;
		border: 1px solid gray;
		border-radius: 10px;
		box-shadow: 0 0 5px lightgray;
	}
}
