<div class="container">
	<div class="close">
		X
	</div>

	<div class="center">
		<h2>Red de "{{ networkName }}"</h2>
	</div>

	<div class="forms">
		<div class="labels">
			<label>Cantidad de hosts disponibles:</label>
			<label>Dirección de red:</label>
			<label>Dirección de broadcast:</label>
			<label>Primer IP útil:</label>
			<label>Último IP útil:</label>
		</div>

		<div class="variables">
			<label>{{ hosts }}</label>
			<label>{{ networkAddress }}</label>
			<label>{{ broadcastAddress }}</label>
			<label>{{ firstUsableIp }}</label>
			<label>{{ lastUsableIp }}</label>
		</div>
	</div>
</div>
